<!--Verify user Section-->
<%- include("../layout/verifyUser") %>

        <section id="teacherSection" class="content-wrapper" style="display:none;">
            <!-- Management Content -->
            <%- include("../layout/teachers") %>         
        </section>

 

        <section id="subjectSection" class="content-wrapper" style="display:none;">
            <!-- Management Content -->
            <h1>Subject</h1>
            <%- include("../layout/subject") %>         
        </section>

    

        <section id="studentSection" class="content-wrapper" style="display:none;">
            <!-- Management Content -->
            <h1>Parents</h1>
            <%- include("../layout/parentManage") %>         
        </section>

        <section id="stdSection" class="content-wrapper" style="display:none;">
            <!-- Management Content -->
            <h1>Students</h1>
            <%- include("../layout/student") %>         
        </section>


        <section id="classManagementSection" class="content-wrapper" style="display:none;">
            <!-- Teacher Management Content -->
            <h1 style="padding: 5px 0;">Class Management</h1>
            <%- include("../layout/assignClass") %>        
        </section>

        <section id="timetableSection" class="content-wrapper" style="display:none;">
            <!-- Teacher Management Content -->
            <h1 style="padding: 10px 0;">Timetable Management</h1>
            <%- include("../layout/timetable") %>        
        </section>
        
        <section id="eventAdminSection" class="content-wrapper" style="display:none;">
            <!-- Event management -->
            <h1>Event Management</h1>
            <%- include("../layout/calendar") %>
        </section>

        <section id="joiningInstructionSection" class="content-wrapper" style="display:none;">
            <!-- Settings Content -->
            <h1>Joining Instructions</h1>
            <%- include("../layout/viewPDF") %>         
        </section>

